.ingredient_item {
  align-items: center;
  width: 100%;
  position: relative;
  text-align: center;
  cursor: pointer;
}

.ingredient_item:hover {
  background-color: #1c1c2e;
  border-radius: 8px;
}

.ingredient_count {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  background: #4c4cff;
  min-width: 32px;
  height: 32px;
  border-radius: 50%;
}

.ingredient_price {
  display: flex;
  align-items: center;
  justify-content: center;
}
