
.ingredients_categories {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 16px;
    max-height: 100%;
    overflow-y: auto;
    scrollbar-color: #8585AD transparent;
    scrollbar-width: thin;
  }
  
  .ingredients_list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }
