.burger_constructor {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  max-height: 912px;
  width: 600px;
  max-width: 600px;
}

.hover {
  background: #1C1C21;
  box-shadow: 0 0 3px rgba(76, 76, 255, 0.25);
}

.bun_locked {
  pointer-events: none;
}

.scroll_section {
  overflow-y: auto;
  height: 500px;
  max-height: 480px;
  scrollbar-color: #8585ad transparent;
  scrollbar-width: thin;
}

.hidden {
  visibility: hidden;
}

.total_price {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: end;
  padding: 0 20px;
}

.currency svg {
  width: 32px;
  height: 32px;
}
